html, body { margin: 0; padding: 0; }

body {
  margin: 0 auto;
  width: 42em;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #222;
  font-weight: bolder;
  text-decoration: none;
}

.large { font-size: 125%; }

.avatar img { max-width: 80%; display: block; margin: 0 auto; }

.footer {
  margin: 1em 0;
  font-size: 200%;
  text-align: center;
}
.footer a { margin: 0 0.25em; }

.glider {
  position: fixed;
  bottom: 0;
  right: 0;
}
.glider img { height: 64px; opacity: 0.1; }

.greet {
  font-family: Lato;
  font-size: 150%;
  font-weight: lighter;
  text-align: center;
}
.greet a { font-weight: normal; }

.post img { max-width: 80%; display: block; margin: 0 auto; }