---
layout: default
title: Calder
---

<div id="home">
  <p>
    Hi!  I'm Calder!
  </p>
  <p>
    I like smashing my head against impossible problems.<br>
    Sometimes they turn out to be possible.<br>
    Most of the time I just hurt my head.
  </p>
  <p>
    If you have something for me, <a href="mailto:caldercoalson@gmail.com">let's talk</a>!
  </p>

  <h1>Failures</h1>
  <ul class="posts">
    {% for post in site.categories.fail %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1>Cool stuff</h1>
  <ul class="posts">
    {% for post in site.categories.win %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1>Current</h1>
  <ul class="posts">
    {% for post in site.categories.current %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1>Essays</h1>
  <ul class="posts">
    {% for post in site.categories.essay %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>