<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,400,700">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <div class="container">

    <div class="header">
      <h1 class="title">
        <a class="avatar" href="/"><img src="/img/avatar.png" width="256"></a>
      </h1>
    </div>

    {{ content }}

    <div class="footer">
      <a href="https://github.com/calder" title="Github profile"><i class="icon-github"></i></a>
      <a href="https://bitbucket.org/calder" title="Bitbucket profile"><i class="icon-bitbucket"></i></a>
      <a href="mailto:caldercoalson@gmail.com" title="Email me"><i class="icon-envelope"></i></a>
      <a href="/keys/F4C7B391.txt"><i class="icon-key" title="Public key"></i></a>
    </div>

    <a class="glider" href="/glider"><img src="/img/glider.png"></a>

  </div>
</body>

</html>